#root {
  max-width: none;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: right;
}

* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}
